*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: linear-gradient(45deg, #4e54c8, #24287a);
  font-size: 15px;
  font-size: 2em;
  background-image:url(back.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container{
width: 100%;
height: 100vh;



padding-top: 35px;
padding-left: 8%;
padding-right: 8%;
}

.showcase{
  margin: 0 auto;
  text-align: center;
}

.list{
  margin-left: 2rem;
}

nav{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
nav ul li a{
  transition: 0.5s;
}
nav ul li a:hover{
  color: #ff58f9;
}
